@{
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
    ViewData["Title"] = "Access denied";
}

    <div class="msg-box">
        <h1>Access denied</h1>
        <p>You don't have permission to access this page.</p>
        <p>Return to sign in</p>
        <form asp-action="AccessDeniedPost" asp-controller="Home" method="post">
            <button type="submit">HERE</button>
        </form>
    </div>

